<header class="attention"><a target="_blank" href="https://sciencing.com/types-wasps-very-aggressive-8587648.html">ATTENTION</a>
</header>
<div class="headerdiv">
    <br>
    <a href="/">Home</a>
    <a href="/profile/edit">Profile</a>
    <a href="/signers">Signers</a>
    <a href="/login">Login</a>    
    <a href="/logout">Logout</a>
</div>
