<div class="header-div">
        <h1>Sign Up to Help Ban <a href="https://en.wikipedia.org/wiki/Yellowjacket">Yellowjacket</a> Wasps From Public Places</h1>
    </div>
    <!-- <div class="header-div">
        <p>(We All Know We Need Them But They Suck)</p>
    </div> -->
    <!-- <br> -->
    <div class="header-div">
        <img class="waspy" src="/waspy.png" alt="Devil Wasp">
        <br>
            <img class="finger" src="/finger.png" alt="I Want You">
        <div class="home-div">
            <p>(We All Know We Need Them But They Suck)</p>
        </div>
        <p>Register <a href="/register">Here</a>. Already Signed? Login <a href="/login">Here</a>.</p>
    </div>
